@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-slate-50 
  }
  h1 {
    @apply text-2xl
  }
  h2 {
    @apply text-xl
  }
  button {
    @apply p-2 rounded-md transition 
  }
  input, textarea {
    @apply p-2 rounded-md bg-slate-200
  }
}